tmp
*.swp
node_modules
.idea
.venv
.DS_Store

# Ignore files in stats-static directory and subdirectories, except files starting with underscore
stats-static/**/*.json
stats-static/**/*.csv
!stats-static/**/_*
